/*
TABLE OF content__subtitle
1. body
2. structure
3. typography
4. helper classes
5. navigation


*/

body {
  font-family: "Titillium Web", sans-serif;
  background-color:#bbb;
}

/*STRUCTURE*/

.header__nav{
  height: 50px;
  border-bottom: 1px solid #640a64;
  padding: 15px 0;
  width: 100%;
}

.row{
  padding:1em 3em;
}

.row:nth-of-type(even){
  background-color: #640a64;
  color:#fff;
}

.row:nth-of-type(odd){
  background-color:#fff;
}

#intro{
  padding:3em 0em;
  height:100vh;



}

.btn{
  margin-right:1em;
  align-self:center;
}

.btn-outline-primary{
  border: 1px solid #640a64;
  background-color:#fff;
  color: #640a64;
}

btn-outline-primary:hover{
  background-color:#640a64;
  border-color:#640a64;
  color:white;
}

.header__nav > .nav-item:hover{
  background-color:  #640a64;
  color: #eee;
}

.div__page-content {
  border-left: 1px solid #ccc;
}

/*HELPER CLASSES*/

.header__logo {
  padding: 10px;
  float: left;
  bottom: 0;
  font-size: 20px;
  color: #640a64;
}


.unclassed-link{
  text-decoration:none;
  color:rgb(175,10,200);
}

.unclassed-link:hover{
  text-decoration:underline;
  color:rgb(175,10,200);
}

.portfolio-image{
  margin-bottom:1em;
}

/*NAVIGATION*/
.nav-item{
  transition: padding, margin, color, border-bottom;
  transition-duration: 0.5s;
  margin-right: 30px;
  border-bottom: 3px solid #640a64;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  padding: 0 10px;

}

.nav-item a {text-decoration: none;}

.nav-item:hover {
  padding-bottom: 15px;
  margin-top: -15px;
  color: #c113c1;
  border-bottom: none;}

  .nav{margin-top:1.25em;}


/*TYPOGRAPHY*/
h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

.portfolio-header{
  font-size: 32px;
}

h3{
  font-size:17px;
}

p {
  font-size: 16px;
}

.page-name {
  text-align: right;
  font-size: 32px;
}

.content__name{
  font-size:72px;
  text-align:center;
}

.content__subtitle{
  border-top: 1px solid #640a64;
  border-bottom: 1px solid #640a64;
  padding:1em 0;
  height:50px;
  width:50%;
  margin-top:1em;
  line-height:1;
}
