body {
  font-family: "Titillium Web", sans-serif;
}

/*STRUCTURE*/
nav {
  position: absolute; 
  bottom: 0;
  margin: 0 auto;
}

.header__nav{
  height: 50px;
  border-bottom: 1px solid #640a64;
  padding: 15px 0;
  width: 100%;
}

.header__nav .nav-item:hover{
  background-color: rgb(100, 10, 100);
  color: #fff;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  top: 2em;
  min-height: 400px;
  max-height: 600px;
}

.div__page-content {
  border-left: 1px solid #ccc;
}

.header__logo {
  padding: 10px;
  float: left;
  bottom: 0px;
  font-size: 20px;
  color: $accent-color;
}


/*NAVIGATION*/
.nav-item {
  transition-properties: padding, margin, color, border-bottom;
  transition-duration: 0.5s;
  margin-right: 30px;
  border-bottom: 3px solid #640a64;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  padding: 0 10px;

}

.nav-item a {text-decoration: none;}

.nav-item:hover {
  padding-bottom: 15px;
  margin-top: -15px;
  color: #c113c1;
  border-bottom: none;
}

/*TYPOGRAPHY*/
h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

.page-name {
  text-align: right;
  font-size: 32px;
}
